@model JLMCC.Models.Flight

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Flight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlightNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaneNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaneNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaneType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaneType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureStandNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureStandNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduleDeparture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleDeparture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduleArrive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleArrive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArriveCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArriveCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArriveStandNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArriveStandNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
