@model IEnumerable<JLMCC.Models.FlightInfo>

@{
    ViewBag.Title = "FlightInfo";
}

<h2>FlightInfo</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SoflSeqNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlnCd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FltDt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FltNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LegSeqNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpSuffix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SvcType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SvcChnDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LatestTailNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LatestEqpCd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduledEqpCd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LegStsCd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcfOper)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DopsTmst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeleteInd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CnclCd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepArpCd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchDepCityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepStsCd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LatestDepArpCd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArcDepCityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepStandNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepGateNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchDepDt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocSchDepDt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LatestDepDt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocLatestDepDt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualOffblocks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxiOutTm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualAirborne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AirTm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocAirTm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArvArpCd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchArvCityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LatestArvArpCd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArcArvCityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchArvDt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocSchArvDt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.latestArvDt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.locLatestArvDt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArvStandNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArvGateNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArvStsCd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DwnTm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocDwnTm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualLanding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxiInTm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualOnblocks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LatestDlyCd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DelayTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TailCompany)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SoflSeqNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlnCd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FltDt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FltNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LegSeqNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpSuffix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SvcType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SvcChnDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LatestTailNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LatestEqpCd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduledEqpCd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LegStsCd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcfOper)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DopsTmst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeleteInd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CnclCd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepArpCd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchDepCityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepStsCd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LatestDepArpCd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArcDepCityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepStandNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepGateNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchDepDt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocSchDepDt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LatestDepDt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocLatestDepDt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualOffblocks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxiOutTm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualAirborne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AirTm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocAirTm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArvArpCd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchArvCityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LatestArvArpCd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArcArvCityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchArvDt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocSchArvDt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.latestArvDt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.locLatestArvDt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArvStandNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArvGateNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArvStsCd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DwnTm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocDwnTm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualLanding)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxiInTm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualOnblocks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LatestDlyCd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DelayTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TailCompany)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
