@model JLMCC.Models.FlightIntervalAndSerivcesViewModel
@using JLMCC.Models;




@{
    ViewBag.Title = "Enter";
}

<h2>航班维护工作</h2>
<div>
    <h4>航班</h4>
    <hr />
  
    
        @{
            string panelType = "panel-default";
            switch (Model.FlightInterval.Type)
            {
                case JLMCC.Models.FlightIntervalType.航前:
                    panelType = "panel-success";
                    break;
                case JLMCC.Models.FlightIntervalType.过站:
                    panelType = "panel-info";
                    break;
                case JLMCC.Models.FlightIntervalType.航后:
                    panelType = "panel-danger";
                    break;

            }
        }

        <div class=" panel @panelType col-lg-12 container">
            <div class="row panel-heading">
                <div class="panel-title col-xs-5 col-sm-3  col-lg-3">@Model.FlightInterval.PlaneNO | @Model.FlightInterval.PlaneType</div>
                <div class="panel-title col-xs-5 col-sm-3 col-lg-3">
                    停机位：
                    @switch (Model.FlightInterval.Type)
                    {
                        case JLMCC.Models.FlightIntervalType.航前:
                            @Model.FlightInterval.NextFlight.DepStandNo;
                            break;
                        case JLMCC.Models.FlightIntervalType.过站:
                            @Model.FlightInterval.PreFlight.ArvStandNo;
                            break;
                        case JLMCC.Models.FlightIntervalType.航后:
                            @Model.FlightInterval.PreFlight.ArvStandNo;
                            break;

                    }
                </div>
          
                <div class="panel-title col-xs-2 col-sm-3 col-lg-3">
                    @Model.FlightInterval.Type.ToString()
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    @if (Model.FlightInterval.PreFlight != null)
                    { <img src="~/Content/img/arrive.png" />
                            
                        switch (Model.FlightInterval.PreFlight.ArvStsCd)
                        {
                            case "SCH":
                                <span>@Model.FlightInterval.PreFlight.SchArvDt.Value.ToString("dd HH:mm")</span>
                                break;
                            case "ETA":
                                if (Model.FlightInterval.PreFlight.latestArvDt != null)
                                {
                                    <span class="bg-danger text-danger"> @Model.FlightInterval.PreFlight.latestArvDt.Value.ToString("dd HH:mm")</span>
                                }
                                break;
                            case "DWN":
                            case "ON":
                                if (Model.FlightInterval.PreFlight.DwnTm != null)
                                {
                                    <span class="bg-success text-success"> @Model.FlightInterval.PreFlight.DwnTm.Value.ToString("dd HH:mm")</span>
                                }
                                break;
                            default:
                                <span>@Model.FlightInterval.PreFlight.SchArvDt.Value.ToString("dd HH:mm")</span>
                                break;

                        }
                        <span>@Model.FlightInterval.PreFlight.AlnCd</span>
                        <span>@Model.FlightInterval.PreFlight.FltNr </span>
                        <span>@Model.FlightInterval.PreFlight.ArcDepCityName - @Model.FlightInterval.PreFlight.ArcArvCityName</span>
                    }

                </div>
                <div class="col-md-6">
                    @if (Model.FlightInterval.NextFlight != null)
                    {
                        <img src="~/Content/img/depature.png" />
                        switch (Model.FlightInterval.NextFlight.DepStsCd)
                        {
                            case "SCH":
                                <span>@Model.FlightInterval.NextFlight.SchDepDt.Value.ToString("dd HH:mm")</span>
                                break;
                            case "ETD":
                                if (Model.FlightInterval.NextFlight.LatestDepDt != null)
                                {
                                    <span class="bg-danger text-danger"> @Model.FlightInterval.PreFlight.LatestDepDt.Value.ToString("dd HH:mm")</span>
                                }
                                break;
                            case "OFF":
                            case "AIR":
                                if (Model.FlightInterval.NextFlight.AirTm != null)
                                {
                                    <span class="bg-success text-success"> @Model.FlightInterval.NextFlight.AirTm.Value.ToString("dd HH:mm")</span>
                                }
                                break;
                            default:
                                <span>@Model.FlightInterval.NextFlight.SchDepDt.Value.ToString("dd HH:mm")</span>
                                break;

                        }
                        <span>@Model.FlightInterval.NextFlight.AlnCd</span>
                            <span>@Model.FlightInterval.NextFlight.FltNr </span>
                            <span>@Model.FlightInterval.NextFlight.ArcDepCityName - @Model.FlightInterval.NextFlight.ArcArvCityName</span>
                    }
                </div>
            </div>
        </div>

    </div>


<hr  class="divider"/>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()





<div class="container">
    <form class="form-horizontal" >
       @if (Model.FlightInterval.Type == JLMCC.Models.FlightIntervalType.航前 || Model.FlightInterval.Type == JLMCC.Models.FlightIntervalType.过站)
       {
        <div class="form-group">
            <label class="col-xs-4 col-sm-2 control-label">调度放行</label>

            <div class="col-xs-4 col-sm-3">
                @if (Model.ServicesForNextFlight.Where(m => m.Content == "调度放行").Count() > 0)
                {
                    var item = Model.ServicesForNextFlight.Where(m => m.Content == "调度放行").First();
                    <span class="glyphicon glyphicon-ok text-success"></span>
                    <span class="text-success">已放行</span>
                    <span class="text-success">@item.StaffId</span>
                    <span class="text-success">@item.Name</span>
                    <span class="text-success">@item.ServiceTime.ToString("HH:mm")</span>    
                 
                }
                else
                {
                    <span class="glyphicon glyphicon-remove text-danger"></span>
                        <span class="text-danger">未放行</span>
                }
            </div>
        </div>

        <div class="clear"></div>
        <hr />
       }
           @if (Model.FlightInterval.Type == JLMCC.Models.FlightIntervalType.航后 || Model.FlightInterval.Type == JLMCC.Models.FlightIntervalType.过站)
           {
           
               <div class="form-group" >
                <label class="col-sm-2 control-label">接机人员</label>
                <div class="col-sm-3">
                    @foreach (var item in Model.ServicesForPreFlight.Where(m => m.Content == "接机人员"))
                    {

                        <span class="text-center">@item.StaffId</span>
                        <span class="text-center">@item.Name</span>
                        <span class="text-center">@item.ServiceTime.ToShortTimeString()</span>
                        <br/>
                    }
                </div>
                    <div class="col-sm-3">
                        <input type="submit" value="到位" class="btn btn-success  " name="action" onclick='this.form.action="@Url.Action("CreateService", new { flightId = Model.FlightInterval.PreFlight.Id, content = "接机人员",type=ServiceType.ForArrival })"' />
                           
                    </div>
            </div>
        <div class="clear"></div>
        <hr />
        }

        <div class="form-group">
            <label class="col-sm-2 control-label">机电工卡签署</label>
            <div class="col-sm-3">
                @{
                    IEnumerable<JLMCC.Models.Service> services;
                    if (Model.FlightInterval.Type == JLMCC.Models.FlightIntervalType.航前 || Model.FlightInterval.Type == JLMCC.Models.FlightIntervalType.过站)
                    {

                        services = Model.ServicesForNextFlight.Where(m => m.Content == "机电签署");

                    }
                    else
                    {
                        services = Model.ServicesForPreFlight.Where(m => m.Content == "机电签署");

                    }
                    foreach (var item in services)
                    {

                        <span class="text-center">@item.StaffId</span>
                            <span class="text-center">@item.Name</span>
                            <span class="text-center">@item.ServiceTime.ToShortTimeString()</span>
                            <br />
                    }

                }

            </div>
            <div class="col-sm-3">
                <input type="submit" value="完成" class="btn btn-success  " name="action" onclick='this.form.action="@Url.Action("CreateService", new { flightId = Model.FlightInterval.NextFlight==null?Model.FlightInterval.PreFlight.Id:Model.FlightInterval.NextFlight.Id, content = "机电签署",type=ServiceType.ForDepature })"' />

            </div>
        </div>
        <div class="clear"></div>
        <hr />

        <div class="form-group">
            <label class="col-sm-2 control-label">电子工卡签署</label>
            <div class="col-sm-3">
                @{
                    
                    if (Model.FlightInterval.Type == JLMCC.Models.FlightIntervalType.航前 || Model.FlightInterval.Type == JLMCC.Models.FlightIntervalType.过站)
                    {
                        services = Model.ServicesForNextFlight.Where(m => m.Content == "电子签署");
                    }
                    else
                    {
                        services = Model.ServicesForPreFlight.Where(m => m.Content == "电子签署");
                    }
                    foreach (var item in services)
                    {

                        <span class="text-center">@item.StaffId</span>
                        <span class="text-center">@item.Name</span>
                        <span class="text-center">@item.ServiceTime.ToShortTimeString()</span>
                        <br />
                    }
                }

            </div>
            <div class="col-sm-3">
                <input type="submit" value="完成" class="btn btn-success  " name="action" onclick='this.form.action="@Url.Action("CreateService", new {flightId = Model.FlightInterval.NextFlight==null?Model.FlightInterval.PreFlight.Id:Model.FlightInterval.NextFlight.Id, content = "电子签署",type=ServiceType.ForDepature  })"' />

            </div>
        </div>
        <div class="clear"></div>
        <hr />
        <div class="form-group">
            <label class="col-sm-2 control-label">放行签署</label>
            <div class="col-sm-3">
                @{

                    if (Model.FlightInterval.Type == JLMCC.Models.FlightIntervalType.航前 || Model.FlightInterval.Type == JLMCC.Models.FlightIntervalType.过站)
                    {
                        services = Model.ServicesForNextFlight.Where(m => m.Content == "放行签署");
                    }
                    else
                    {
                        services = Model.ServicesForPreFlight.Where(m => m.Content == "放行签署");
                    }
                    foreach (var item in services)
                    {

                        <span class="text-center">@item.StaffId</span>
                        <span class="text-center">@item.Name</span>
                        <span class="text-center">@item.ServiceTime.ToShortTimeString()</span>
                        <br />
                    }
                }
            </div>
            <div class="col-sm-3">
                <input type="submit" value="完成" class="btn btn-success  " name="action" onclick='this.form.action="@Url.Action("CreateService", new {flightId = Model.FlightInterval.NextFlight==null?Model.FlightInterval.PreFlight.Id:Model.FlightInterval.NextFlight.Id, content = "放行签署",type=ServiceType.ForDepature })"' />

            </div>
        </div>
        <div class="clear"></div>
        <hr />


   
     

     
       @if (Model.FlightInterval.Type == JLMCC.Models.FlightIntervalType.航前 || Model.FlightInterval.Type == JLMCC.Models.FlightIntervalType.过站)
       {
        <div class="form-group">
            <label class="col-sm-2 control-label">送机人员</label>
            <div class="col-sm-3">
                @foreach (var item in Model.ServicesForNextFlight.Where(m => m.Content == "送机人员"))
                {

                    <span class="text-center">@item.StaffId</span>
                        <span class="text-center">@item.Name</span>
                        <span class="text-center">@item.ServiceTime.ToShortTimeString()</span>
                        <br />
                }
            </div>
            <div class="col-sm-3">
                <input type="submit" value="到位" class="btn btn-success  " name="action" onclick='this.form.action="@Url.Action("CreateService", new { flightId = Model.FlightInterval.NextFlight.Id, content = "送机人员", type=ServiceType.ForDepature  })"' />

            </div>
        </div>
        <div class="clear"></div>
        <hr />
       }

        @if (Model.FlightInterval.Type == JLMCC.Models.FlightIntervalType.航前 || Model.FlightInterval.Type == JLMCC.Models.FlightIntervalType.过站)
        {
        <div class="form-group">
            <label class="col-sm-2 control-label">拖车司机</label>
            <div class="col-sm-3">
                @foreach (var item in Model.ServicesForNextFlight.Where(m => m.Content == "拖车司机"))
                {

                    <span class="text-center">@item.StaffId</span>
                    <span class="text-center">@item.Name</span>
                        <span class="text-center">@item.ServiceTime.ToShortTimeString()</span>
                        <br />
                }
            </div>
            <div class="col-sm-3">
                <input type="submit" value="到位" class="btn btn-success  " name="action" onclick='this.form.action="@Url.Action("CreateService", new { flightId = Model.FlightInterval.NextFlight.Id, content = "拖车司机", type=ServiceType.ForDepature  })"' />

            </div>
        </div>
        <div class="clear"></div>
        <hr />
        }
    </form>
</div>

}
<p>
   <a href="@ViewBag.backUrl">返回</a>
   
    @*@Html.ActionLink("返回", "Index")*@
</p>


